
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>Lizenzinformationen</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f7f7f7;
    }
    #container {
        border: 1px solid #000;
        padding: 80px;
        width: 300px;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    .overlay-content {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        overflow-y: scroll;
    }
    .close-btn {
        float: right;
        padding: 5px 10px;
        cursor: pointer;
        border: black;
        border-style: double;
    }
    .hover-text {
        text-decoration: underline;
        cursor: url('app/html/cursor.png') 14 14, auto;
    }
    p {
        width: fit-content;
    }
    {{EXTRA_CSS}}
</style>
</head>
<body>

<div id="container">
    <h1>License information</h1>
    <br>
    <p id="sectionA" class="hover-text">{{SECTION_A}} datasets</p>
    <p id="sectionB" class="hover-text">{{SECTION_B}} licenses</p>
    <br>
    <p id="sectionC" class="hover-text">{{SECTION_C}} direct and {{SECTION_D}} indirect conflicts</p>
    <br>
    <p id="sectionE" class="hover-text">{{SECTION_E}} resulting permissions und {{SECTION_F}} prohibitions</p>
    <br>
    <p id="sectionX"><b>{{SECTION_X}}</b></p>
    <br>
    <p id="sectionG" class="hover-text">Legal hints</p>
</div>

<div id="overlay" class="overlay">
    <div class="overlay-content" id="overlayContent">
        <span class="close-btn" onclick="closeOverlay()">X</span>
        <p id="overlayText"></p>
    </div>
</div>

<script>
    var canOpenOverlay = true;

    function setOverlayContent(section) {
        var overlayContent = document.getElementById('overlayContent');
        var content = '';
        switch (section) {
            case 'A': content = `{{DETAILS_A}}`; break;
            case 'B': content = `{{DETAILS_B}}`; break;
            case 'C': content = `{{DETAILS_C}}`; break;
            case 'E': content = `{{DETAILS_E}}`; break;
            case 'G': content = `{{DETAILS_G}}`; break;
            default: content = 'No details available.';
        }
        overlayContent.innerHTML = '<span class="close-btn" onclick="closeOverlay()">X</span>'
                    + content; // Prepend new content but keep the close button
        document.getElementById('overlay').style.display = 'block';
    }

    document.querySelectorAll('.hover-text').forEach(item => {
        item.addEventListener('click', event => {
            if (canOpenOverlay) {
                setOverlayContent(event.target.id.replace('section', ''));
            }
        });
    });

    function closeOverlay() {
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('overlayContent').innerHTML = "";
        canOpenOverlay = false;
        
        // Set a timeout for 2 seconds before allowing the overlay to be opened again
        setTimeout(function() {
            canOpenOverlay = true;
        }, 100);
    }
</script>

</body>
</html>
