body {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Arial', sans-serif;
}

.container {
    #margin-top: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.item {
    margin-bottom: 10px;
    display: inline !important;
}

.tooltip-icon {
    background-color: lightblue;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}

.tooltip-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    white-space: nowrap;
}

h1 {
    color: rgba(0,91,131,1);
}
.license-permissions-data {
    display: table;
    width: 100%;
    border-bottom: 2px dotted #7c9297;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.license-permissions-data ul {
    margin: 0;
    display: table-cell;
    width: 50%;
}

.license-permissions-data .license-duties {
    padding-left: 5px;
    display: table-cell;
    width: 50%;
}

.license-permissions-data .license-duties h4 {
    margin-top: 0;
}

.license-permissions-data:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}