body {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: rgba(0,91,131,1);
}

.custom-control-label {
    color: rgba(0,91,131,1);
}

.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: rgba(0,91,131,1);
}

.form-check-label {
    color: rgba(0,91,131,1);
}

.btn-primary {
    background-color: rgba(0,91,131,1);
    border-color: rgba(0,91,131,1);
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: rgba(0,91,131,0.1);
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.form-group label {
    color: rgba(0, 91, 131, 1);
}

.form-group .custom-control-label::after, .form-group .custom-control-label::before {
    right: auto;
    left: 1.5rem;
}

.logo {
    background: url("./logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    min-width: 15vw;
    min-height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25em;
}